<div id="zaken-lijst-component">

<h1 class="text-center">Restaurants dicht bij u</h1>
<div class="row">
  <div id="zaken_map" class="col-sm-10 mx-auto"></div>

  <div class="card overlay-container" style="width: 18rem;">
    <img id="feature-image" class="card-img-top" />
    <div class="card-body">
      <h5 id="feature-name" class="card-title"></h5>
      <p id="feature-parking"></p>
      <p id="feature-address"></p>
      <a id="feature-link" class="btn btn-primary">Naar de zaak</a>
    </div>
  </div>
</div>

</div>
