<footer class="card-footer d-flex flex-row justify-content-lg-between justify-content-sm-start justify-content-md-between ">

    <div class="text-left p-2 d-inline-flex">
      <a href="index.html" class=""><img src="assets/images/Jammik.png" alt="JammikIcon"></a>

      <a class="ml-2  text-dark" href="">Privacy</a>

      <a class="ml-2  text-dark" href="">Terms of Service</a>
      <a class="ml-2 text-dark" href=""> © 2020 Jammik</a>
    </div>
    <div class="text-center p-2">
      <a class="text-center text-dark">The B-Team</a>
    </div>
    <div class="text-center p-2">
      <a href="">taal</a>
    </div>

</footer>
