<div class="d-flex justify-content-center">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col-lg d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <img src="assets/images/BannerIcons/welkombijJammik.png" class="img-fluid d-lg-block mb-3"
               style="width: auto; height: 100px;" alt="Welkom bij Jammik">
          <img alt="Registreren Banner" class=" d-lg-block img-fluid"
               src="assets/images/BannerIcons/RegistrerenBannerIcon.png">
          <div class="container">
            <form [formGroup]="registerForm" *ngIf=!registerStatus (ngSubmit)="register()">

              <!--naam en achternaam-->
              <div class="row">
                <div class="row col-lg d-flex justify-content-start mx-3">
                  <label class="mt-3" for="naam"><i class="fa fa-user mr-2" aria-hidden="true"></i>Naam :</label>
                  <input type="text" class="form-control" id="naam" placeholder="Uw Naam" formControlName="naam" required=""/>
                </div>
                <div class="row col-lg d-flex justify-content-start mx-3">
                  <label class="mt-3" for="achternaam"><i class="fa fa-user mr-2" aria-hidden="true"></i>Achternaam
                    :</label>
                  <input type="text" class="form-control" id="achternaam" placeholder="Uw Achternaam" formControlName="achternaam"
                         required=""/>
                </div>
              </div>


              <!--e-mail-->
              <div class="row">
                <div class="row col-lg d-flex justify-content-start mx-3">

                  <label class="mt-3" for="email"><i class="fa fa-envelope mr-2" aria-hidden="true"></i>Email :</label>
                  <input type="text" class="form-control" id="email" placeholder="example@example.be" formControlName="email"
                         required=""/>
                </div>
                <div class="row col-lg d-flex justify-content-start mx-3">
                  <label class="mt-3" for="wachtwoord"><i class="fa fa-key mr-2" aria-hidden="true"></i>Wachtwoord
                    :</label>
                  <input type="text" class="form-control"  id="wachtwoord" placeholder="Uw Wachtwoord" formControlName="wachtwoord"
                         required=""/>
                </div>

              </div>

              <!--Rol-->
              <div class="row">
                <div class="row col-lg d-flex justify-content-start mx-3">
                  <label class="mt-3" for="rol"><i class="fa fa-cogs mr-2" aria-hidden="true"></i>Rol :</label>
                  <select class="form-control" formControlName="rol" id="rol" name="rol" required="">
                    <option value="default" disabled>Selecteer uw rol</option>
                    <option value="gebruiker">Klant</option>
                    <option value="uitbater">Uitbater</option>
                  </select>
                </div>

                <div class="row col-lg d-flex justify-content-start mx-3">
                </div>
              </div>

              <div class="row ">

                <!--Log in button-->
                <div class="row col-lg d-flex justify-content-lg-end justify-content-md-center justify-content-sm-center">
                  <button type="submit" class="btn btn-custom m-3"
                          style="color:black !important;border-color: black!important; width: 200px!important;">Schrijf
                    in!
                  </button>
                </div>
                <!--Cancel Button-->
                <div class="row col-lg d-flex justify-content-lg-start justify-content-md-center justify-content-sm-center">
                  <a href="/index.html">
                    <button type="button" class="btn btn-custom m-3"
                            style="color:black !important; width: 200px!important; border-color: black!important;">
                      Annuleer!
                    </button>
                  </a>

                </div>
              </div>


            </form>


            <h1 *ngIf=registerStatus>Succesvol geregistreerd!!!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
