<app-header></app-header>
<div class="d-flex justify-content-center">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col-lg d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <img alt="welkom bij Jammik" class="d-none d-lg-block img-fluid" src="assets/images/BannerIcons/welkombijJammik.png">
          <img alt="welkom bij Jammik" class="d-lg-none img-fluid" src="assets/images/BannerIcons/LoginBanner.png">
        </div>
      </div>
    </div>
    <!--Main section-->
    <div class="container">
      <form action="" method="post">
        <input type="submit" name="submit" />
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
