<footer class="card-footer d-sm-flex flex-row justify-content-sm-start justify-content-md-between container-lg-fluid" >

    <div class="text-left p-3 d-inline-flex col-lg text-lg-left">
      <a href="../../../index.html" class=""><img src="../../../assets/images/Jammik.png" alt="JammikIcon"></a>
      <a class="ml-2  text-dark" href="">Privacy</a>
      <a class="ml-2  text-dark">Terms of Service</a>
      <a class="ml-2 text-dark" href=""> © 2020 Jammik</a>
    </div>
    <div class="text-center p-3 col-lg">
      <a class="text-center text-dark">The B-Team</a>
    </div>
    <div class="text-center text-lg-right p-1 col-lg ml-2 " >
      <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-language" aria-hidden="true"></i>

          Taal
        </button>
        <div class="dropdown-menu ">

          <!-- Dropdown menu links -->
          <a class="dropdown-item" href="#">Nederlands</a>
          <a class="dropdown-item" href="#" disabled="">English</a>
          <a class="dropdown-item" href="#"disabled="">French</a>
        </div>
      </div>
    </div>
  </footer>

