<div class="container text-center">
  <h1>Voeg hier uw zaak toe!</h1>

  <form [formGroup]="addEstablishmentFormGroup" (ngSubmit)="onSubmit()">
    <hr />

    <div formGroupName="establishment" class="form-area">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="form-group row">
            <label for="naam" class="col-sm-2 col-form-label">Naam:</label>
            <div class="col-sm-10">
              <input
                id="naam"
                class="form-control"
                formControlName="establishmentName"
                type="text"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="parking" class="col-sm-2 col-form-label"
              >Parking:</label
            >
            <div class="col-sm-10">
              <input
                id="parkingCheckbox"
                class="form-control"
                formControlName="parking"
                type="checkbox"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div formGroupName="address" class="form-area">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="form-group row">
            <label for="straat" class="col-sm-2 col-form-label">Straat:</label>
            <div class="col-sm-10">
              <input
                id="straat"
                class="form-control"
                formControlName="street"
                type="text"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="huisnummer" class="col-sm-2 col-form-label"
              >Huisnummer:</label
            >
            <div class="col-sm-10">
              <input
                id="huisnummer"
                class="form-control"
                formControlName="bus"
                type="text"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="postcode" class="col-sm-2 col-form-label"
              >Postcode:</label
            >
            <div class="col-sm-10">
              <input
                id="postcode"
                class="form-control"
                formControlName="zipcode"
                type="number"
              />
            </div>
          </div>

          <div class="form-group row">
            <label for="gemeente" class="col-sm-2 col-form-label"
              >Gemeente:</label
            >
            <div class="col-sm-10">
              <input
                id="gemeente"
                class="form-control"
                formControlName="gemeente"
                type="text"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div formGroupName="openingHours" class="form-area">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Maandag:</label>
            <div class="col-sm-5">
              <select class="form-control" formControlName="openingsuurMa">
                <option disabled selected>Openingsuur:</option>
              </select>
            </div>
            <div class="col-sm-5">
              <select class="form-control" formControlName="sluitingsuurMa">
                <option disabled selected>Sluitingsuur:</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Dinsdag:</label>
            <div class="col-sm-5">
              <select class="form-control" formControlName="openingsuurDi">
                <option disabled selected>Openingsuur:</option>
              </select>
            </div>
            <div class="col-sm-5">
              <select class="form-control" formControlName="sluitingsuurDi">
                <option disabled selected>Sluitingsuur:</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Woensdag:</label>
            <div class="col-sm-5">
              <select class="form-control" formControlName="openingsuurWo">
                <option disabled selected>Openingsuur:</option>
              </select>
            </div>
            <div class="col-sm-5">
              <select class="form-control" formControlName="sluitingsuurWo">
                <option disabled selected>Sluitingsuur:</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Donderdag:</label>
            <div class="col-sm-5">
              <select class="form-control" formControlName="openingsuurDo">
                <option disabled selected>Openingsuur:</option>
              </select>
            </div>
            <div class="col-sm-5">
              <select class="form-control" formControlName="sluitingsuurDo">
                <option disabled selected>Sluitingsuur:</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Vrijdag:</label>
            <div class="col-sm-5">
              <select class="form-control" formControlName="openingsuurVr">
                <option disabled selected>Openingsuur:</option>
              </select>
            </div>
            <div class="col-sm-5">
              <select class="form-control" formControlName="sluitingsuurVr">
                <option disabled selected>Sluitingsuur:</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Zaterdag:</label>
            <div class="col-sm-5">
              <select class="form-control" formControlName="openingsuurZa">
                <option disabled selected>Openingsuur:</option>
              </select>
            </div>
            <div class="col-sm-5">
              <select class="form-control" formControlName="sluitingsuurZa">
                <option disabled selected>Sluitingsuur:</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Zondag:</label>
            <div class="col-sm-5">
              <select class="form-control" formControlName="openingsuurZo">
                <option disabled selected>Openingsuur:</option>
              </select>
            </div>
            <div class="col-sm-5">
              <select class="form-control" formControlName="sluitingsuurZo">
                <option disabled selected>Sluitingsuur:</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div formGroupName="tables" class="form-area">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>

            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <input
                      class="form-control col-sm-6"
                      formControlName="aantalTafels"
                      type="number"
                    />
                    <span class="col-sm-6">tafels van</span>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="row">
                    <input
                      class="form-control col-sm-6"
                      formControlName="aantalStoelen"
                      type="number"
                    />
                    <span class="col-sm-6">stoelen</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <div formGroupName="image">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="custom-file">
            <input
              class="custom-file-input"
              type="file"
              accept=".png, .jpg, .jpeg"
              id="customFile"
              formControlName="image"
            />
            <label class="custom-file-label" for="customFile"
              >Upload Image:</label
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
