<div class="container text-center">
  <h1>Voeg hier uw zaak toe!</h1>

  <form [formGroup]="addEstablishmentFormGroup" (ngSubmit)="onSubmit()">
    <hr />

    <div formGroupName="establishment" class="form-area">
      <div class="row mt-2">
        <label for="naam">Naam:</label>
        <input
          id="naam"
          class="form-control"
          formControlName="establishmentName"
          type="text"
        />
        <div
          *ngIf="
            establishmentName.invalid &&
            (establishmentName.touched || establishmentName.dirty)
          "
          class="col-sm-12 alert alert-danger mt-2 mb-0"
        >

          <span *ngIf="establishmentName.errors.required || establishmentName.errors.notOnlyWhitespace">De naam van de zaak moet ingevuld zijn</span>
          <span *ngIf="establishmentName.errors.pattern">De naam mag geen _ bevatten</span>
          <span *ngIf="establishmentName.errors.minlength">De naam moet minstens 2 karakters zijn</span>
        </div>
      </div>

      <div class="row mt-2">
        <label for="parking">Parking:</label>
        <input
          id="parkingCheckbox"
          class="form-control"
          formControlName="parking"
          type="checkbox"
        />
      </div>
    </div>

    <hr />

    <div formGroupName="address" class="form-area">

      <div class="row mt-2">
        <label for="province">Provincie:</label>

        <select class="form-control" formControlName="province">
          <option value="Antwerpen" selected>Antwerpen</option>
          <option value="Limburg">Limburg</option>
          <option value="Oost-Vlaanderen">Oost-Vlaanderen</option>
          <option value="Vlaams-Brabant">Vlaams-Brabant</option>
          <option value="West-Vlaanderen">West-Vlaanderen</option>
        </select>
      </div>

      <div class="row mt-2">
        <label for="community">Gemeente:</label>

        <select class="form-control" formControlName="community">
          <option *ngFor="let gemeente of gemeenten | keyvalue">{{ gemeente.key }}</option>
        </select>
      </div>

      <div class="row mt-2">
        <label for="postcode">Postcode:</label>
        <input
          id="postcode"
          class="form-control"
          formControlName="zipcode"
          type="number"
        />
      </div>

      <div class="row mt-2">
        <label for="straat">Straat:</label>
        <input
          id="straat"
          class="form-control"
          formControlName="street"
          type="text"
        />
      </div>

      <div class="row mt-2">
        <label for="huisnummer">Huisnummer:</label>
        <input
          id="huisnummer"
          class="form-control"
          formControlName="bus"
          type="text"
        />
      </div>

    </div>

    <hr />

    <div formGroupName="openingHours" class="form-area">
      <label>Maandag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurMa">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurMa"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Dinsdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurDi">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurDi"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Woensdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurWo">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurWo"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Donderdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurDo">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurDo"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Vrijdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurVr">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurVr"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Zaterdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurZa">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurZa"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Zondag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurZo">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurZo"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>
    </div>

    <hr />

    <div formGroupName="image">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="custom-file">
            <input
              class="custom-file-input"
              type="file"
              accept=".png, .jpg, .jpeg"
              id="customFile"
              formControlName="image"
            />
            <label class="custom-file-label" for="customFile"
              >Upload Image:</label
            >
          </div>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary my-2" />
  </form>
</div>
