form {
  background: rgba(191, 191, 191, .2);
}

label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

#parkingCheckbox {
  width: 25px;
}

input[type=file]:hover {
  cursor: pointer;
}

.custom-file-label {
  width: 100%;
}

/* change content of file selector button */
.custom-file-input ~ .custom-file-label::after {
  content: url('../../../assets/bootstrap-icons/search.svg');
  background-color:  green;
}
