<div class="container text-center">
  <h1>Voeg hier uw zaak toe!</h1>

  <form [formGroup]="addEstablishmentFormGroup" (ngSubmit)="onSubmit()">
    <hr />

    <div formGroupName="establishment" class="form-area">
      <div class="row mt-2">
        <label for="naam">Naam:</label>
        <input
          id="naam"
          class="form-control"
          formControlName="establishmentName"
          type="text"
        />
      </div>

      <div class="row mt-2">
        <label for="parking">Parking:</label>
        <input
          id="parkingCheckbox"
          class="form-control"
          formControlName="parking"
          type="checkbox"
        />
      </div>
    </div>

    <hr />

    <div formGroupName="address" class="form-area">
      <div class="row mt-2">
        <label for="straat">Straat:</label>
        <input
          id="straat"
          class="form-control"
          formControlName="street"
          type="text"
        />
      </div>

      <div class="row mt-2">
        <label for="huisnummer">Huisnummer:</label>
        <input
          id="huisnummer"
          class="form-control"
          formControlName="bus"
          type="text"
        />
      </div>

      <div class="row mt-2">
        <label for="postcode">Postcode:</label>
        <input
          id="postcode"
          class="form-control"
          formControlName="zipcode"
          type="number"
        />
      </div>

      <div class="row mt-2">
        <label for="gemeente">Gemeente:</label>

        <input
          id="gemeente"
          class="form-control"
          formControlName="community"
          type="text"
        />
      </div>
    </div>

    <hr />

    <div formGroupName="openingHours" class="form-area">
      <label>Maandag:</label>

      <div class="row">

        <select class="form-control col-md-5" formControlName="openingsuurMa">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurMa"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Dinsdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurDi">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurDi"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Woensdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurWo">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurWo"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Donderdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurDo">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurDo"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Vrijdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurVr">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select
          class="form-control col-md-5 offset-md-2"
          formControlName="sluitingsuurVr"
        >
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Zaterdag:</label>

      <div class="row">
        <select class="form-control col-md-5" formControlName="openingsuurZa">
          <option disabled selected>Openingsuur:</option>
        </select>

        <select class="form-control col-md-5 offset-md-2" formControlName="sluitingsuurZa">
          <option disabled selected>Sluitingsuur:</option>
        </select>
      </div>

      <label>Zondag:</label>

      <div class="row">

          <select class="form-control col-md-5" formControlName="openingsuurZo">
            <option disabled selected>Openingsuur:</option>
          </select>

          <select class="form-control col-md-5 offset-md-2" formControlName="sluitingsuurZo">
            <option disabled selected>Sluitingsuur:</option>
          </select>

      </div>
    </div>

    <hr />

    <div formGroupName="image">
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="custom-file">
            <input
              class="custom-file-input"
              type="file"
              accept=".png, .jpg, .jpeg"
              id="customFile"
              formControlName="image"
            />
            <label class="custom-file-label" for="customFile"
              >Upload Image:</label
            >
          </div>
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-primary my-2" />
  </form>
</div>
