<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand mt-2" href="../../../index.html">
    <img src="../../../assets/images/icons/100x100/JammikBlack.png" width="100" height="25" class="d-inline-block align-top"
         alt="Jammik Logo" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          (click)="toggleNavbar()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line" style="margin-bottom: 0;"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">

    <ul class="navbar-nav ml-auto text-center" *ngIf="isUitbater">

      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/bestellen"><span class="fas fa-shopping-bag"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/ads">Ads</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/zaken">Mijn Zaken</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="">Inkoms</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="allZaken">Reservatie</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="" alt="krediet" title="Mijn Krediet">
          <i class="fas fa-euro-sign"></i>

        </a>
        <p style="font-size: 6px;" *ngIf="uitbater.krediet">{{uitbater.krediet}} </p>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/MyAccount" alt="Mijn Account" title="Mijn Account">
          <i class="far fa-user-circle"></i>
        </a>
        <p style="font-size: 8px;">Welkom {{uitbater.voornaam}}</p>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="" (click)="logout()" alt="Log Out" title="Log out">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto text-center" *ngIf="isKlant">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/bestellen"><span class="fas fa-shopping-bag"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Beoordelingen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Bestellingen</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="allZaken">Reservatie</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/zaken-dichtbij">Kaart</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="" alt="krediet" title="Mijn Krediet">
          <i class="fas fa-euro-sign"></i>
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/MyAccount" alt="Mijn Account" title="Mijn Account">
          <i class="far fa-user-circle"></i>
        </a>
          <p>Welkom {{this.klant.voornaam}}</p>

      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="" (click)="logout()" alt="Log Out" title="Log out">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto text-center" *ngIf="!isUitbater && !isKlant">
      <li class="nav-item active">
        <a class="nav-link" href="./index.html" alt="Home" title="Home"><i class="fas fa-home mr-1"></i><span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a routerLink="/login" class="nav-link" alt="Login" title="Login">
          <i class="fas fa-sign-in-alt mr-1 "></i>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" class="nav-link" alt="Register" title="Register">
          <i class="fas fa-user-plus mr-1"></i>
        </a>
      </li>
    </ul>

  </div>
</nav>
