
<div class="d-flex justify-content-center" *ngIf="this.ad && this.adZaak">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col-lg d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center">
                    <img alt="welkom bij Jammik" class="d-none d-lg-block img-fluid" src="assets/images/BannerIcons/large-index-banner.png">
                    <img alt="welkom bij Jammik" class="d-lg-none img-fluid" src="assets/images/BannerIcons/welkombijJammik.png">
                    <h4 class="mt-5">Een Applicatie van de federatie voor kleine horica uitbaters (FKHU)</h4>
                    <h5>Reserveer of bestel nu!</h5>
                </div>
            </div>
        </div>
        <!--Between section-->
        <div class="row mt-5">
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img height="75" src="assets/images/icons/500w/safeIcon.png" alt="Secure Image">
                    <h4 class="d-flex justify-content-center">Secure</h4>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img height="75" class="" src="assets/images/icons/500w/fast-forward.png" alt="Fast Image">
                    <h4 class="d-flex justify-content-center">Fast</h4>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img height="75" src="assets/images/icons/500w/handshakeIcon.png" alt="Easy Image">
                    <h4 class="d-flex justify-content-center">Easy</h4>
                </div>
            </div>
        </div>
        <!--Main section-->
        <div class="row align-items-center mt-5">
            <div class="col-lg-8 container">
                <!--klanten row-->
                <div class="row">
                    <h6>Voor klanten</h6>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/reservation@2x.png" alt="img">
                        <p class="mt-4" >Reserveer een tafel met een klik op de knop</p>
                    </div>
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/navigation@2x.png" alt="img">
                        <p class="mt-4">Zoek horicazaken in jouw nabijheid</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/payment@2x.png" alt="img">
                        <p class="mt-4">Maak op je gemak contactloze bestellingen</p>
                    </div>
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/DigitalPay@2x.png" alt="img">
                        <p class="mt-4">Voer snelle en digitale betalingen uit</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/coupon@2x.png" alt="img">
                        <p class="mt-4">Win kortingsbonnen en cadeaukaarten</p>
                    </div>
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/rating@2x.png" alt="img">
                        <p class="mt-4">Raadpleeg de beoordelingen van andere klanten</p>
                    </div>
                </div>
                <!--Uitbaters-->
                <div class="row">
                    <h6>Voor uitbaters</h6>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/adIcon@2x.png" alt="img">
                        <p class="mt-4">Adverteer jouw zaak op onze site</p>
                    </div>
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/report@2x.png" alt="img">
                        <p class="mt-4">Houd overzich over jouw financiën</p>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/menu@2x.png" alt="img">
                        <p class="mt-4">Pas makkelijk jouw menu-items en prijzen aan</p>
                    </div>
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/dinner-table@2x.png" alt="img">
                        <p class="mt-4">Schik jouw tafelplan vanzelf zoals je het wil</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/stopwatch@2x.png" alt="img">
                        <p class="mt-4">Beheer jouw openingstijden</p>
                    </div>
                    <div class="col-lg d-flex justify-content-start mx-3">
                        <img class="m-3 uitbaters img-fluid" src="assets/images/icons/100x100/gift@2x.png" alt="img">
                        <p class="mt-4">Beloon trouwe klanten om terugkeer te stimuleren</p>
                    </div>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center mb-sm-3 mb-md-3">
                <div class="border border-secondary d-flex justify-content-center ad-container">
                  <div class="container justify-content-center mt-2" *ngIf="this.isAd">
                   <img src='../../../assets/images/restaurants/{{adZaak.imageURL}}' class="img-fluid ad-style mt-0"  alt="Ads image"> 
                  <div class="container mt-2 justify-content-start text-left" >

                    <div class=" justify-content-center text-center align-content-center mt-1 align-items-center">
                    <h6>{{this.ad.zaakNaam.toUpperCase()}}</h6>
                    <p>{{this.ad.zaakDesc}}</p>
                    <div class="container justify-content-center text-center align-content-center mt-4 align-items-center">
                      <a routerLink="/zaken/{{this.adZaak.id}}" class="btn btn-primary text-center" style="font-size: 8px;">
                        Naar {{this.ad.zaakNaam.toUpperCase()}}
                      </a>
                    </div>

                  </div>
                  </div>
                  <div class="container justify-content-center" *ngIf="!this.isAd">
                    <div class="container justify-content-center">
                      <img src="assets/images/restaurants/ads.svg" class="img-fluid  mt-0 justify-content-center" style="width: 150px; height: 135px;"  alt="Ads image">
                    </div>
                    <div class="container mt-2 justify-content-start text-left" >

                      <div class=" justify-content-center text-center align-content-center mt-1 align-items-center">
                      <h6>Uw Advertentie Hier</h6>
                      </div>
                      <div class=" justify-content-start text-left" style="font-size: 8px;">
                        U kunt een of meerdere advertentie kopen voor uw zaken bij kliken
                      </div>
                      <div class="container justify-content-center text-center align-content-center mt-5 align-items-center">
                        <a routerLink="/ads" class="btn btn-primary text-center" style="font-size: 8px;">
                          Gaaf Advertentie
                        </a>
                      </div>

                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>

</div>

