.uitbaters{
  width: 25px !important;
  height: 30px !important;
}
p{
  font-size: 9px;
}
.ad-style{
  background: transparent !important;
  border-radius: 1em 1em 1em 1em;
  border-color: whitesmoke !important;
}
.ad-container{
  height: 325px;
  width: 200px;
  background: transparent;
  border-radius: 2rem;
  border-color: whitesmoke !important;
}
