<div class="d-flex justify-content-center">

    <div class="w-75" >
        <div class="row d-flex justify-content-center align-content-center overflow-hidden custom-banner-image" style="background: black;" >
            <img src="{{zaak.imageURL}}" alt="afbeelding van de zaak" class="img-fluid m-auto" style="min-width: 75%">
        </div>
        <div class="row">
            <div class="col-lg d-flex d-lg-block justify-content-center">
                <div>
                    <h2 >{{zaak.naam}}</h2>
                    <h4>{{zaak.description}}</h4>
                    <div *ngIf="zaak.rating >= 0" class="my-2"><span *ngFor ="let i of [].constructor(zaak.rating)" class="fa fa-star checked fa-2x"></span></div>
                    <p class="fa fa-2x">Parking: <span class="fa fa-check" style="color: green;" *ngIf="zaak.parking"></span> <span class="fa fa-times" style="color: red;" *ngIf="!zaak.parking"></span></p>
                    <h6>Adres: {{zaak.adres.straat}} {{zaak.adres.huisNr}}, {{zaak.adres.gemeente}} {{zaak.adres.postcode}}</h6>
                </div>
            </div>
            <div class="col-lg align-items-center" style="margin-top: 1em;">
                <div>
                    <div class="row border border-dark rounded m-auto" style="max-width: 30em;" *ngFor="let dag of zaak.openingsUren.dagen ; last as isLast">
                        <div class="col " >{{dag.naam}}</div>
                        <div class="col " *ngIf="!isGesloten(dag)">{{dag.openingsUur.toString().substring(0,5)}} - {{dag.sluitingsUur.toString().substring(0,5)}}</div>
                        <div class="col " *ngIf="isGesloten(dag)">Gesloten</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-lg-start justify-content-center">
            <button class="btn btn-custom my-4" routerLink="/menu/{{zaak.naam}}" style="width: 30%;">Menu</button>
        </div>
        <div class="row d-flex justify-content-lg-start justify-content-center">
            <button class="btn btn-custom my-4" style="width: 30%;">Reserveer</button>
        </div>
        <div class="row d-flex justify-content-lg-start justify-content-center">
            <button class="btn btn-custom my-4" style="width: 30%;">Bestel</button>
        </div>
    </div>
</div>