<div class="row m-5">
    <div class="col-7">
<form [formGroup]="loginForm" *ngIf=!loginstatus (ngSubmit)="login()">
  <label for="username">Username :</label>
  <input
    type="text"
    class="form-control"
    placeholder="Enter username"
    formControlName="username"
  />

  <label for="password">Password :</label>
  <input
    type="text"
    class="form-control"
    placeholder="Enter password"
    formControlName="password"
  />

  <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>

<h1 *ngIf=loginstatus>Already logged in !</h1>
    </div>
    </div>
