<div class="d-flex justify-content-center perfect-centering">
  <div class="container">
    <!--Title-->
    <div class="row">
      <div class="col-lg d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <img alt="welkom bij Jammik" class=" d-lg-block img-fluid" src="assets/images/BannerIcons/LoginBanner.png">
          <div class="container-fluid">
            <form [formGroup]="loginForm" *ngIf=!logInStatus (ngSubmit)="login()">
              <label class="mt-3" for="username"><i class="fa fa-user mr-2" aria-hidden="true"></i>Username :</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="example@example.be"
                formControlName="username"
              />

              <label class="mt-3" for="password"><i class="fa fa-key mr-2" aria-hidden="true"></i>Password :</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="password"
                formControlName="password"
              />

              <input type="checkbox" class="mr-2 mt-3" style="" id="remember" formControlName="remember"/>
              <label for="remember">Remember me?</label>

              <div class="container-fluid">
                <button type="submit" class="btn btn-primary ml-5 mb-2 mt-2 ">
                  <i class="fas fa-sign-in-alt mr-2"></i>Log in!
                </button>
              </div>
            </form>
            <h1 *ngIf=logInStatus>Already logged in !</h1>
          </div>
          <div class="container-fluid" *ngIf=!logInStatus>
            <a routerLink="/register">
              New user?<span style="color: blue">Sign up!</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
