<div class="container">
  <!--Title-->
  <h1 class="mt-3 text-primary">Menu item</h1>
  <p class="lead">Gelieve hier een item toe te voegen aan je menu!</p>
  <div>
    <form [formGroup]="menuForm" (ngSubmit)="addToMenuItemsList()">

      <div formGroupName="menuItem" class="form-area">


        <label class="mt-3" for="naam">Naam :</label>
        <input
          type="text"
          id="naam"
          class="form-control"
          placeholder="ex: spagheti"
          formControlName="naam"
        />
        <div
          *ngIf="naam.invalid && (naam.dirty || naam.touched)"
          class="col-sm-12 alert alert-danger mt-2 mb-0"
        >
          <span *ngIf="naam.errors.required || naam.errors.notOnlyWhitespace">Naam is vereist</span>
          <span *ngIf="naam.errors.minlength && !(naam.errors.required || naam.errors.notOnlyWhitespace)">Naam te kort</span>
        </div>

        <label class="mt-3" for="categorie">Categorie :</label>
        <select class="form-control" id="categorie" formControlName="categorie">
          <option value="COCKTAILS">Cocktails</option>
          <option value="HOOFDGERECHTEN" selected>Hoofdgerechten</option>
          <option value="DESSERTEN">Desserten</option>
          <option value="FRISDRANKEN">Frisdranken</option>
        </select>

        <label class="mt-3" for="beschrijving">Beschrijving:</label>
        <input
          type="text"
          id="beschrijving"
          class="form-control"
          placeholder="beschrijving"
          formControlName="beschrijving"
        />
        <div *ngIf="beschrijving.invalid && (beschrijving.dirty || beschrijving.touched)" class="col-sm-12 alert alert-danger mt-2 mb-0">
          <span *ngIf="beschrijving.errors.required || beschrijving.errors.notOnlyWhitespace">Beschrijving is vereist.</span>
          <span *ngIf="beschrijving.errors.minlength && !(beschrijving.errors.required || beschrijving.errors.notOnlyWhitespace)">Beschrijving te kort.</span>
        </div>
        <label class="mt-3" for="prijs">Prijs :</label>
        <input
          type="number"
          id="prijs"
          class="form-control"
          placeholder="prijs"
          formControlName="prijs"
        />
        <div
          *ngIf="prijs.invalid && (prijs.dirty || prijs.touched)"
          class="col-sm-12 alert alert-danger mt-2 mb-0"
        >
          <span *ngIf="prijs.errors.required">Prijs is vereist</span>
          <span *ngIf="prijs.errors.pattern">Moet 2 cijfers na de komma hebben</span>
        </div>
        <div class="row mt-4">
          <div class="col-sm-3">
            <div class="container-fluid">
              <button
                type="submit"
                class="btn btn-primary mt-4"
                style="width: 80%"
              >
                Voeg Toe!
              </button>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="text-primary col-12 mt-5" *ngIf="menuItems.length > 0">
    <!-- Kunnen we categorie toevoegen aan menu in databese en dan deze hier weergeven -->
    <h3 class="mt-4">Items</h3>
    <hr class="accent my-5" />
  </div>
  <p *ngIf="menuItems.length == 0" class="lead mt-4">
    Nog geen items toegevoegd !
  </p>

  <div class="card-columns">
    <div class="card card-body" *ngFor="let item of menuItems">
      <span class="float-right font-weight-bold">{{ item.prijs }}</span>
      <h6 class="text-truncate">{{ item.naam }}</h6>
      <p class="small">
        {{ item.beschrijving }}
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-3 ml-0 mb-4">
      <div class="container-fluid">
        <button
          type="button"
          class="btn btn-primary mt-4 ml-0"
          style="width: 80%"
          routerLink="../"
        >
          Back
        </button>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="container-fluid">
        <button
          type="button"
          class="btn btn-primary mt-4"
          style="width: 80%"
          (click)="saveMenu()"
          routerLink="../"
        >
          Sla op in menu!
        </button>
      </div>
    </div>
  </div>
</div>
