<div class="container text-center firstView">
  <h1>Advertenties</h1>
  <div class="container mb-lg-3 mt-lg-5">
    <ng-container>
      <h6>Als uitbater kan u advertentieruimte kopen op
        de landingspagina.</h6>
    </ng-container>
    <ng-container><h6>Voor een paar credits krijgt uw zaak een vast aantal aan vertoningen op de home pagina.</h6>
    </ng-container>
    <hr class="accent my-4" />

  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg d-flex justify-content-center ">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Formule</th>
            <th scope="col">Krediet</th>
            <th scope="col">Vertoningen</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Budget</th>
            <td>20</td>
            <td>200</td>
          </tr>
          <tr>
            <th scope="row">Standard</th>
            <td>50</td>
            <td>1000</td>
          </tr>
          <tr>
            <th scope="row">Premium</th>
            <td>100</td>
            <td>3000</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mb-5 mt-2 rounded" (click)="bestelNu()"><i class="fas fa-credit-card"></i> Bestel Nu!
  </button>
</div>


<div class="container justify-content-center text-center secondView align-content-center ">
  <div class="container justify-content-center align-content-center">
    <ng-container class="my-4">
      <h4>Verbeter de inkomsten van uw restaurant met advertenties</h4>
    </ng-container>
    <hr class="accent my-4" />
    <form [formGroup]="bestelAd" class="align-content-center" (ngSubmit)="koopNu()">
      <div class="container justify-content-lg-center">
        <div class="container justify-content-start align-content-center mt-3">
          <select class="rounded " style="width:350px; height: auto;" name="formule" id="formule" formControlName="formule" required="">
            <option value="" selected disabled>Selecteer hier uw formule</option>
            <option value="20"> Budget</option>
            <option value="50"> Standard</option>
            <option value="100"> Premium</option>
          </select>
        </div>
        <div class="container justify-content-start align-content-center mt-3">
          <select name="zaak" class=" rounded  " id="zaak" formControlName="zaak" style="width:350px; height: auto;" required="">
            <option value="" selected disabled>Selecteer uw zaak</option>
            <option *ngFor="let opt of this.zaken" [value]="opt.id">{{opt.naam}}</option>
          </select>
        </div>
        <div class="container justify-content-start align-content-center mt-3">
          <textarea class="rounded text-left" id="text" name="text" formControlName="text" style="width: 350px; height:150px; font-size: 10px; " placeholder="Uw Advetentie Message gaat hier... ">

          </textarea>
        </div>
      </div>
      <div class="container justify-content-start align-content-center mt-3">
      <a class="btn btn-primary mb-5 mt-2 mr-2" id="Koop" (click)="koopNu()"><i class="fas fa-check-circle mr-2"></i>
        Koop
        Nu
      </a>
      <a class="btn btn-danger mb-5 mt-2" id="Annuleer" (click)="cancel()"><i class="fas fa-window-close mr-2"></i>
        Annuleer!
      </a>
      </div>

    </form>
  </div>
</div>

