/* You can add global styles to this file, and also import other style files */
html {
  padding: 0;
  margin: 0;

}

body {
  box-sizing: border-box;
  background-image: url("assets/images/background.png");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color: back !important;
}

.btn-custom {
  font-weight: bold !important;
  font-family: "Apple Chancery", serif;
  background: none !important;
  border: 2px solid black !important;
  border-radius: 21px !important;
  color:black !important;
}

.btn:hover {
  background: #FECB0F !important;

  transition: 1s;
}

.checked {
  color: orange;
}

.custom-banner-image{
  max-height: 600px;
}

@media (max-width: 800px) {
  .custom-banner-image{
    max-height: 400px;
  }
}


@media (min-width: 800px) {
  html {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 1rem;  /*1rem = 16px*/
  }

  .custom-banner-image{
    max-height: 200px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 0.5rem;
  }
}
