<div class="d-flex justify-content-center">
<div class="container py-5">
  <div class="row">
    <div class="mx-auto col-12 text-center mb-3">
      <h1 class="mt-0 text-primary">MenuKaart</h1>
      <p class="lead">
        Welkom op onze menuKaart. Maak een keuze uit ons geweldig assortement
        aan maaltijden! Onze keuken maakt enkel gebruik van verse producten en
        ingredienten van topkwaliteit!
      </p>
    </div>
    <div class="col-12 mt-4" *ngIf="hoofdgerechten.length > 0">
      <!-- Kunnen we categorie toevoegen aan menu in databese en dan deze hier weergeven -->
      <h3 class="text-center text-primary">Hoofdgerechten</h3>
      <hr class="accent my-5" />
      <div class="card-columns">
        <div class="card card-body" *ngFor="let item of hoofdgerechten">
          <span class="float-right font-weight-bold">{{ item.prijs }}</span>
          <h6 class="text-truncate">{{ item.naam }}</h6>
          <p class="small">
            {{ item.beschrijving }}
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-0 p-1 px-2 fas fa-plus fa-2x" (click)="addToBestellingen(item)"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4" *ngIf="desserten.length > 0">
      <!-- Kunnen we categorie toevoegen aan menu in databese en dan deze hier weergeven -->
      <h3 class="text-center text-primary">Desserten</h3>
      <hr class="accent my-5" />
  
      <div class="card-columns">
        <div class="card card-body" *ngFor="let item of desserten">
          <span class="float-right font-weight-bold">{{ item.prijs }}</span>
          <h6 class="text-truncate">{{ item.naam }}</h6>
          <p class="small">
            {{ item.beschrijving }}
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-0 p-1 px-2 fas fa-plus fa-2x" (click)="addToBestellingen(item)"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4" *ngIf="cocktails.length > 0">
      <!-- Kunnen we categorie toevoegen aan menu in databese en dan deze hier weergeven -->
      <h3 class="text-center">Cocktails</h3>
      <hr class="accent my-5" />
      <div class="card-columns">
        <div class="card card-body" *ngFor="let item of cocktails">
          <span class="float-right font-weight-bold">{{ item.prijs }}</span>
          <h6 class="text-truncate">{{ item.naam }}</h6>
          <p class="small">
            {{ item.beschrijving }}
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-0 p-1 px-2 fas fa-plus fa-2x" (click)="addToBestellingen(item)"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4" *ngIf="frisdranken.length > 0">
      <!-- Kunnen we categorie toevoegen aan menu in databese en dan deze hier weergeven -->
      <h3 class="text-center">Frisdranken</h3>
      <hr class="accent my-5" />
      <div class="card-columns">
        <div class="card card-body" *ngFor="let item of frisdranken">
          <span class="float-right font-weight-bold">{{ item.prijs }}</span>
          <h6 class="text-truncate">{{ item.naam }}</h6>
          <p class="small">
            {{ item.beschrijving }}
          </p>
          <div class="d-flex justify-content-center">
            <button class="btn btn-primary m-0 p-1 px-2 fas fa-plus fa-2x" (click)="addToBestellingen(item)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-5" *ngIf='uitbater == user.email'>
    <div class="row">
      <div class="col">
        <div class="container-fluid">
          <button
            type="button"
            class="btn btn-primary mt-4"
            style="width: 100%"
            (click)="clearMenu()"
          >
            Delete Menu!
          </button>
        </div>
      </div>
      <div class="col">
        <div class="container-fluid">
          <button
            type="button"
            class="btn btn-primary mt-4"
            style="width: 100%"
            routerLink="addmenu"
          >
            Add items!
          </button>
        </div>
      </div>
      <div class="col">
        <div class="container-fluid">
          <button
            type="button"
            class="btn btn-primary mt-4"
            style="width: 100%"
            (click)="slaMenuOp()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <button
      type="button"
      class="btn btn-primary mt-4 ml-0"
      style="width: 50%"
      (click)="goback()"
      >
      Back
      </button>
    </div>
  </div>
</div>
</div>
