<app-header></app-header>
<div class="d-flex justify-content-center">
    <div class="container">
        <!--Title-->
        <div class="row">
            <div class="col-lg d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center">
                    <img alt="welkom bij Jammik" class="d-none d-lg-block img-fluid" src="../../assets/images/BannerIcons/large-index-banner.png">
                    <img alt="welkom bij Jammik" class="d-lg-none img-fluid" src="../../assets/images/BannerIcons/welkombijJammik.png">
                    <h4>Een Applicatie van de federatie voor kleine horica uitbaters (FKHU)</h4>
                    <h5>Reserveer of bestel nu!</h5>
                </div>
            </div> 
        </div>
        <!--Between section-->
        <div class="row">
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img height="150" src="../../assets/images/icons/500w/safeIcon.png" alt="Secure Image">
                    <h4 class="d-flex justify-content-center">Secure</h4>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img height="150" class="" src="../../assets/images/icons/500w/fast-forward.png" alt="Fast Image">
                    <h4 class="d-flex justify-content-center">Fast</h4>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img height="150" src="../../assets/images/icons/500w/handshakeIcon.png" alt="Easy Image">
                    <h4 class="d-flex justify-content-center">Easy</h4>
                </div>
            </div>
        </div>
        <!--Main section-->
        <div class="row" style="background-color: black;">
            <div class="col-lg-8 container" style="background-color: blue;">
                <div class="row">
                    <h3>Klanten</h3>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                        <img class="w-25" alt="img">
                        <p>icon 1</p>
                    </div>
                    <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                        <img class="w-25" alt="img">
                        <p>icon 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                        <img class="w-25" alt="img">
                        <p>icon 1</p>
                    </div>
                    <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                        <img class="w-25" alt="img">
                        <p>icon 2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                        <img class="w-25" alt="img">
                        <p>icon 1</p>
                    </div>
                    <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                        <img class="w-25" alt="img">
                        <p>icon 2</p>
                    </div>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <p>AD</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
