<app-header></app-header>
<div class="d-flex justify-content-center">
    <div class="w-80">
        <!--Title-->
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <h1>Jammik</h1>
                <h2>Reserveer of bestel nu!</h2>
            </div>
        </div>
        <!--Main section-->
        <main class="d-flex flex-column flex-lg-row justify-content-lg-between">
            <div class="mx-lg-2">
                <img src="../../assets/images/Temp.png" class="img-fluid">
                <p>Vind of ontdek gezellig horika zaken bij u in de buurt</p>
            </div>
            <div class="mx-lg-2">
                <img src="../../assets/images/Temp.png" class="img-fluid">
                <p>Reserveer een tafel of krijg aan huis geleverd door te bestellen</p>
            </div>
            <div class="mx-lg-2">
                <img src="../../assets/images/Temp.png" class="img-fluid">
                <p>Betaal vlot, veilig en voledig digitaal</p>
            </div>
        </main>
    </div>
</div>
<app-footer></app-footer>
