<app-header></app-header>
<div class="d-flex justify-content-center">
    <div class="container">
        <!--Title-->
        <div class="row" style="background-color: saddlebrown;">
            <div class="col-lg-8 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center">
                    <h1>Jammik</h1>
                    <h2>Een Applicatie van de federatie voor kleine horica uitbaters (FKHU)</h2>
                    <h2>Reserveer of bestel nu!</h2>
                </div>
            </div> 
            <img class="col-lg" alt="Jammik Banner Image">
        </div>
        <!--Between section-->
        <div class="row" style="background-color: salmon;">
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img alt="Secure Image">
                    <h4>Secure</h4>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img alt="Fast Image">
                    <h4>Fast</h4>
                </div>
            </div>
            <div class="col-lg d-flex justify-content-center">
                <div>
                    <img alt="Easy Image">
                    <h4>Easy</h4>
                </div>
            </div>
        </div>
        <!--Main section-->
        <div class="row" style="background-color: black;">
            <div class="col-lg-8 container" style="background-color: blue;">
            <div class="row">
                <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                    <img class="w-25" alt="img">
                    <p>icon 1</p>
                </div>
                <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                    <img class="w-25" alt="img">
                    <p>icon 2</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                    <img class="w-25" alt="img">
                    <p>icon 1</p>
                </div>
                <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                    <img class="w-25" alt="img">
                    <p>icon 2</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                    <img class="w-25" alt="img">
                    <p>icon 1</p>
                </div>
                <div class="col-lg d-flex justify-content-center justify-content-lg-start">
                    <img class="w-25" alt="img">
                    <p>icon 2</p>
                </div>
            </div>
        </div>
            <div class="col-lg d-flex justify-content-center">
                <p>AD</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
