
<div class="container py-5">
  <div class="row">
    <div class="col-lg-10 mx-auto col-12 text-center mb-3">
      <h1 class="mt-0 text-primary">Mijn zaken</h1>
    </div>
    <div class="col-12 mt-4">
      <a routerLink="/addestablishment" class="btn btn-primary mr-2"> New Zaak</a>
      <hr class="accent my-5" />

    </div>
    <div class=" d-lg-inline-flex flex-wrap justify-content-center">
      <div
      class="card card-body m-2"
      *ngFor="let zaak of zaken"
      routerLink="/zaken/{{ zaak.id }}">
          <div class="container">
            <img src="assets/images/restaurants/{{zaak.imageURL}}" alt="afbeelding van de zaak" class="img-fluid m-auto card-img-top">
            <h5 class="font-weight-bold">{{ zaak.naam }}</h5>
            <span class="text-truncate">Rating: </span>
            <span
            *ngFor="let i of [].constructor(zaak.rating)"
            class="fa fa-star checked">
            </span>
            <span
            *ngFor="let i of [].constructor(5 - zaak.rating)"
            class="fa fa-star">
            </span>
            <p class="my-0">{{zaak.description}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
