<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-lg d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center">
          <img
            src="assets/images/icons/100x100/AccountDetailsLogoBlack.png"
            class="img-fluid d-lg-block mb-3"
            style="width: auto; height: 200px"
            alt="Account details"
          />
          <div class="container" *ngIf="this.uitbater">
            <div class="row">
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container>
                  <i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i
                  >Naam : {{ uitbater.naam }} {{ uitbater.voornaam }}
                </ng-container>
              </div>
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container>
                  <i class="fa fa-envelope mr-2" aria-hidden="true"></i> E-mail
                  : {{ uitbater.email }}
                </ng-container>

              </div>
            </div>
            <div class="row">
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container><i class="fas fa-info-circle mr-2"></i>Rol: Uitbater</ng-container>

              </div>
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container>
                  <i class="fas fa-euro-sign mr-2"></i> Kredieten : {{ uitbater.krediet }}
                </ng-container>

              </div>
            </div>
            <div class="row">

              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container><i class="fa fa-cutlery mr-2" aria-hidden="true"></i>Reservaties :
                </ng-container>
                <ng-container *ngFor="let reservatie of this.uitbater.reservaties">
                  <li class="ml-2" style="list-style: none;">{{reservatie}}</li> </ng-container>

              </div>

              <div class="row col-lg-12 d-flex justify-content-start mx-3 mb-5">
                <ng-container>
                  <i class="fa fa-briefcase mr-2" aria-hidden="true"></i>Mijn
                  Zaken:
                </ng-container>
                <ng-container *ngFor="let zaak of  uitbater.zaken ">
                  <li class="ml-2" style="list-style: none;">{{zaak.naam}}</li>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="container" *ngIf="this.klant">
            <div class="row">
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container>
                  <i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i
                  >Naam : {{ klant.naam }} {{ klant.voornaam }}
                </ng-container>
              </div>
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container>
                  <i class="fa fa-envelope mr-2" aria-hidden="true"></i> E-mail
                  : {{ klant.email }}
                </ng-container>

              </div>
            </div>
            <div class="row">
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container>
                  <i class="fas fa-euro-sign mr-2"></i>
                  Kredieten : {{ klant.krediet }}
                </ng-container>
              </div>
              <div class="row col-lg-12 d-flex justify-content-start mx-3">
                <ng-container>
                  <i class="fa fa-cutlery mr-2" aria-hidden="true"></i
                  >Reservaties : {{ klant.reservaties }}
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
